*{
    margin: 0;
    padding: 0;
 }
 
 .cabeçalho{
    background-color:rgb(110, 25, 143);
color: rgb(255, 255, 255);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabeçalho-imagem{
width: 10px;    
}
.cabeçalho-imagem{
    width: 10%;
}
.Escola {
    background-image:linear-gradient(rgb(110, 25, 143),#dddddd);
color: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}

    